[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = https://github.com/simongog/sdsl-lite.git
[submodule "external/libjson-rpc-cpp"]
	path = external/libjson-rpc-cpp
	url = https://github.com/cinemast/libjson-rpc-cpp.git
