# index name; index class
index1;index1
index2;index2<>
index2a;index2<sdsl::sd_vector<>>
index3;index3<>
index3a;index3<sdsl::sd_vector<>>
# index3b saves space by using dac_vector for weights
index3b;index3<sdsl::sd_vector<>,sdsl::sd_vector<>::select_1_type, sdsl::dac_vector<4>>
# index3c will not be pratical, since vlc_vector access is slow and index3 scans
# the whole lexicographic range
index3c;index3<sdsl::sd_vector<>,sdsl::sd_vector<>::select_1_type, sdsl::vlc_vector<>>
index4;index4<>
index4a;index4<sdsl::sd_vector<>>
# index4b saves space by using da_vector for weights
index4b;index4<sdsl::sd_vector<>,sdsl::sd_vector<>::select_1_type, sdsl::dac_vector<4>>
# index4c saves even more space by using vlc_vector; now we can use vlc_ evector
# as we only access O(k) elements
index4c;index4<sdsl::sd_vector<>,sdsl::sd_vector<>::select_1_type, sdsl::vlc_vector<>>
index5;index5<>
index5a;index5<sdsl::wt_huff<sdsl::rrr_vector<63>>>
